/*
 * animations css stylesheet
 */



.glyphicon-refresh.refresh-animate {
    animation-name: rotateThis;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotateThis {
    from { transform: scale( 1 ) rotate( 0deg );   }
    to   { transform: scale( 1 ) rotate( 360deg ); }
}

