/* app css stylesheet */

body {
  padding-top: 70px;
}

button.navbar-toggle {
  margin-left: 15px;
  display: block;
}

.fade-hide, .fade-show {
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide {
  opacity: 0;
}

.fade-hide.fade-hide-active {
  opacity: 0;
}

.fade-show {
  opacity: 0;
}

.fade-show.fade-show-active {
  opacity: 0;
}

.section-title {
  margin: 12px 0;
  color: #fff;
}