<div class="help-block">Passenger are sometimes looking for unique languages, let us know languages you speak.</div>

<div class="form-group">
    <div data-ng-model="user.languagesSpoken" bs-checkbox-group>
        <label class="btn btn-default btn-lg btn-block"><input type="checkbox" class="btn btn-default" value="en" required>English</label>
        <label class="btn btn-default btn-lg btn-block"><input type="checkbox" class="btn btn-default" value="cs">Czech</label>
        <label class="btn btn-default btn-lg btn-block"><input type="checkbox" class="btn btn-default" value="en">Slovak</label>
        <label class="btn btn-default btn-lg btn-block"><input type="checkbox" class="btn btn-default" value="cs">Polish</label>
    </div>
</div>