<div data-ng-controller="queueCtrl" data-ng-file-drop>

    <div class="col-md-6 col-md-offset-3" data-ng-controller="aboutCtrl">

        <div data-ng-controller="formValidationCtrl">
            <h2>{{state.current.title | translate}}</h2>
            <form name="regForm" novalidate>
                <div ui-view></div>
                <div class="clearfix form-submit">
                  <a ui-sref="vehicle.photo" data-ng-show="isSummaryPage()" class="btn btn-default btn-success pull-right" translate>Next Step ></a>
                    <button type="submit" data-ng-click="setNextStep()" data-ng-disabled="regForm.$invalid" data-ng-hide="isSummaryPage()" class="btn btn-default btn-success pull-right" translate>Next</button>
                    <button type="submit" data-ng-click="setSkipStep()" data-ng-show="state.current.skipAllow" class="btn btn-default btn-primary pull-right margin btn-margin-right" translate>Skip</button>
                </div>
            </form>
        </div>


    </div>

    <div data-ng-include="'components/queue/queue.html'"></div>



</div>
