<div class="help-block">Passengers want to see who they are riding with, add a profile photo.</div>

<div>
    <div data-ng-repeat="item in uploader.queue">
        <div class="upload-set center-block">
            <div class="fileinput-preview thumbnail" data-ng-show="uploader.isHTML5" data-ng-thumb="{ file: item.file, height: 200 }"></div>
            <div class="buttons">
                <button type="button" class="btn btn-success" data-ng-click="item.upload()" data-ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                </button>
                <button type="button" class="btn btn-danger" data-ng-click="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Remove
                </button>
            </div>
        </div>
    </div>

    <div class="upload-set center-block" data-ng-show="!uploader.queue[0]">
        <div class="fileinput-preview thumbnail" >
            <img src="images/default.jpg" alt="default-avatar">
        </div>
        <input data-ng-file-select type="file" data-ng-show="!uploader.queue[0]" id="hide-button" class="hide-button btn btn-default btn-primary" />
        <div data-ng-file-select  class="btn btn-default btn-primary" data-ng-click="openSelect()">Select file</div>
    </div>

</div>