<div class="help-block" translate>Passenger are sometimes looking for unique languages, let us know languages you speak.</div>

<div class="form-group">
    <div data-ng-model="user.languagesSpoken" bs-checkbox-group>
        <label class="btn btn-default btn-lg btn-block"><input type="checkbox" class="btn btn-default" value="en" required translate>English</label>
        <label class="btn btn-default btn-lg btn-block"><input type="checkbox" class="btn btn-default" value="cs" translate>Czech</label>
        <label class="btn btn-default btn-lg btn-block"><input type="checkbox" class="btn btn-default" value="sk" translate>Slovak</label>
        <label class="btn btn-default btn-lg btn-block"><input type="checkbox" class="btn btn-default" value="pl" translate>Polish</label>
    </div>
</div>