<div class="queue" data-ng-class="{'enable' : shower}">
    <div class="alert alert-success alert-dismissable" style="">
        <button type="button" class="close" data-ng-click="hider()">&times;</button>
        <div class="progress" data-ng-class="activeProgress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{uploader.progress}}" aria-valuemin="0" aria-valuemax="100" data-ng-style="{ 'width': uploader.progress + '%' }">
                {{uploader.progress + '%'}}
            </div>
        </div>
    </div>
</div>