<div class="{{'file-upload-' + fileTag}}">

    <!-- Show image preview -->
    <div data-ng-repeat="item in uploader.queue" data-ng-show="item.tag == fileTag">
        <div class="upload-set center-block">
            <div class="fileinput-preview thumbnail" data-ng-show="uploader.isHTML5" data-ng-thumb="{ file: item.file, height: 200 }"></div>
            <div class="buttons">
                <button type="button" class="btn btn-success" data-ng-click="item.upload()" data-ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> <span translate>Upload</span>
                </button>
                <button type="button" class="btn btn-danger" data-ng-click="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> <span translate></span>
                </button>
            </div>
        </div>
    </div>

    <!-- Empty image selector -->
    <div class="upload-set center-block" data-ng-show="uploader.queue.length < 1">
        <div class="fileinput-preview thumbnail" >
            <img src="images/default.jpg" alt="default-avatar">
        </div>
        <input data-ng-file-select="{tag : fileTag}" type="file" id="hide-button" class="hide-button btn btn-default btn-primary" />
        <div data-ng-file-select="{tag : fileTag}" class="btn btn-default btn-primary" data-ng-click="openSelect()" translate>Select file</div>
    </div>

</div>