.queue {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding: 0px 15px;
    display: none;
}

.queue .alert {
    width: 100%;
    float: none;
    clear: both;
    height: 55px;
    position: relative;
    bottom: 15px;
}
