<div class="queue-wrapper col-xs-12 col-sm-12 col-md-12 center-block">
    <div class="queue alert alert-info center-block" data-ng-show="uploader.isUploading || uploader.progress == 100">
        <p>Queue length: {{ uploader.queue.length }}</p>

        <div>
            <p>
                Queue progress: {{uploader.progress + '%'}}
            <div class="progress" data-ng-class="activeProgress" style="">
                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
            </div>
            </p>
            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Upload all
            </button>
            <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
            </button>
            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                <span class="glyphicon glyphicon-trash"></span> Remove all
            </button>
        </div>

    </div>
</div>
