<div id="state-start" ng-controller="startCtrl">
  <h2 translate>Welcome to Liftago!</h2>
  <p translate>In order for you to start picking up passengers we need to collect some information about you.</p>

  <div class="clearfix">
    <a ui-sref="{{lastEmptyStep()}}" data-ng-show="totalProgress() != 0" class="btn btn-default btn-primary pull-right" translate>Continue</a>
    <a ui-sref="{{lastEmptyStep()}}" data-ng-show="totalProgress() == 0" class="btn btn-default btn-primary pull-right" translate>Start</a>
  </div>

</div>