<div id="state-start" ui-view class="col-md-6 col-md-offset-3 view" ng-controller="startCtrl">
  <h2 translate>Welcome to Liftago!</h2>
  <p translate>In order for you to start picking up passengers we need to collect some information about you.</p>

  <div class="clearfix form-submit">
    <a ui-sref="{{mainItems[0].redirectTo}}" class="btn btn-default btn-primary pull-right" translate>Start</a>
  </div>

  <div class="debug clearfix well">
    Go to <a ui-sref="start.incomplete" class="">Incomplete</a> state.
  </div>

</div>