/* app css stylesheet */
body,
html {
    height: 100%;
    position: relative;
}

body {
  padding-top: 70px;
}

button.navbar-toggle {
  margin-left: 15px;
  display: block;
}

.btn-margin-right {
    margin-right: 15px;
}

.hide-button {
    display: none !important;
}

#header-title {
  color: white;
}

.debug {
  margin-top: 100px;
}

slider span.pointer,
slider span.pointer::after,
slider span.pointer:hover,
slider span.pointer:hover::after {
    background-color: #fff;
    border: 0px solid #fff;
    color: #fff;
}

slider span.pointer {
    border: 1px solid #ccc;
}