/* app css stylesheet */
body,
html {
    height: 100%;
    position: relative;
}

body {
  padding-top: 70px;
}

button.navbar-toggle {
  margin-left: 15px;
  display: block;
}

a {
    cursor: pointer;
}

.btn-line {
    height: 34px;
    line-height: 34px;
}

.btn-margin-left {
    margin-left: 15px;
}

.hide-button {
    display: none !important;
}

#header-title {
  color: white;
}

.debug {
  margin-top: 100px;
}

.navbar-default .head-title {
    color: #fff;
    cursor: pointer;
}

.main-form-submit {
    width:100%;
    position: absolute;
    padding: 0px 15px;
    top: 0px;
    left: 0px;
}

.main-title {
    margin-bottom: 40px;
}

input.ng-dirty.ng-invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}

