/* app css stylesheet */
body,
html {
    height: 100%;
    position: relative;
}

body {
  padding-top: 70px;
}

button.navbar-toggle {
  margin-left: 15px;
  display: block;
}

a {
    cursor: pointer;
}

.btn-margin-right {
    margin-right: 15px;
}

.hide-button {
    display: none !important;
}

#header-title {
  color: white;
}

.debug {
  margin-top: 100px;
}

.navbar-default .head-title {
    color: #fff;
    cursor: pointer;
}