<div class="header" ng-controller="HeaderCtrl">
  <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation" bs-navbar>
    <div class="">

      <div class="list-group">
        <a ng-repeat="state in states" ng-show="state.sideMenu" href="#{{state.url}}" class="list-group-item" ng-click="hideNavbar()" ng-class="{'list-group-item-success' : state.isStateValid(), 'list-group-item-danger' : !state.isStateValid()}">
          <span ng-show="state.isStateValid()" class="glyphicon pull-right lead"></span>
          <span ng-show="!state.isStateValid()" class="glyphicon glyphicon-exclamation-sign pull-right lead"></span>

          <h4 class="list-group-item-heading">{{state.title}}</h4>

          <p class="list-group-item-text small">100% filled in.</p>
          <p ng-show="!state.isStateValid()" class="list-group-item-text text-danger small">Almost done. Fill in few more fields.</p>
        </a>

      </div>
    </div>
  </nav>

  <div class="navbar navbar-default navbar-fixed-top navmenu-inverse">
    <button type="button" class="navbar-toggle pull-left" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <h3 id="header-title">{{headerTitle}}</h3>

  </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{width: progress+'%'}">
                </div>
            </div>
        </div>
    </div>

</div>