<div class="header" ng-controller="HeaderCtrl">
  <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation" bs-navbar>
    <div class="">

      <div class="list-group">
        <a ng-repeat="state in states" href="#{{state.url}}" class="list-group-item" ng-click="hideNavbar()" ng-class="{'list-group-item-success' : Math.random() > 0.5, 'list-group-item-danger' : Math.random() < 0.9}">
          <span ng-show="Math.random() > 0.5" class="glyphicon pull-right lead"></span>
          <span ng-show="Math.random() < 0.5" class="glyphicon glyphicon-exclamation-sign pull-right lead"></span>

          <h4 class="list-group-item-heading">{{state.title}}</h4>

          <p class="list-group-item-text small">100% filled in.</p>
          <p ng-show="Math.random() < 0.5" class="list-group-item-text text-danger small">Almost done. Fill in few more fields.</p>
        </a>

      </div>
    </div>
  </nav>

  <div class="navbar navbar-default navbar-fixed-top navmenu-inverse">
    <button type="button" class="navbar-toggle pull-left" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <h3 class="section-title">{{stepTitle}}</h3>
    <ul class="nav pull-right" ng-show="hasPendingRequests()">
      <li class="divider-vertical"></li>
      <li><a href="#"><span class="glyphicon glyphicon-refresh refresh-animate"></span></a></li>
    </ul>
  </div>
</div>