<div class="form-group">
    <div class="help-block">Are you a driver for one of our local partners?</div>
    <div class="btn-group-vertical" data-ng-model="button.dispatch" bs-radio-group>
        <label class="btn btn-default"><input type="radio" class="btn btn-default" value="en">Sedop Taxi</label>
        <label class="btn btn-default"><input type="radio" class="btn btn-default" value="cs">Kuryr Taxi</label>
    </div>
    <div class="help-block">Displaying a dispatching company make you more creditable for passenger and gives the dispatching company access to your data.</div>
</div>