<div class="form-group">
    <div class="help-block">Passenger are sometimes looking for unique languages, let us know languages you speak.</div>
    <div class="btn-group-vertical" data-ng-model="button.language" bs-checkbox-group>
        <label class="btn btn-default"><input type="checkbox" class="btn btn-default" value="en">English</label>
        <label class="btn btn-default"><input type="checkbox" class="btn btn-default" value="cs">Czech</label>
        <label class="btn btn-default"><input type="checkbox" class="btn btn-default" value="en">Slovak</label>
        <label class="btn btn-default"><input type="checkbox" class="btn btn-default" value="cs">Polish</label>
    </div>
</div>