<div class="help-block">Your almost done with the Services section, here's what we have so far.</div>

<div class="clearfix">
    <div class="col-xs-12 col-md-12">
        <div class="text-line center-block text-center">Max pickup destination: {{user.pickup}} km</div>
        <div class="text-line center-block text-center" data-ng-show="{{user.animal}}">Animal transport</div>
        <div class="text-line center-block text-center" data-ng-show="{{user.smoking}}">Smoking onboard</div>
        <div class="text-line center-block text-center" data-ng-show="{{user.card}}">Payment with Card</div>
        <div class="text-line center-block text-center" data-ng-show="{{user.wifi}}">Onboard wifi</div>
        <div class="text-line center-block text-center" data-ng-show="{{user.air}}">Air-condition</div>
        <div class="text-line center-block text-center" data-ng-show="{{user.child}}">Child seat</div>
    </div>
</div>