<div class="help-block">Your almost done with the Services section, here's what we have so far.</div>

<div class="clearfix">
    <div class="col-xs-12 col-md-12">
        <div class="text-line center-block text-center"><span translate>Payment with Card: </span>{{user.services.card}}</div>
        <div class="text-line center-block text-center"><span translate>Onboard Wifi: </span>{{user.services.wifi}}</div>
        <div class="text-line center-block text-center"><span translate>Air-conditioning: </span>{{user.services.air}}</div>
        <div class="text-line center-block text-center"><span translate>Child seat: </span>{{user.services.child}}</div>
        <div class="text-line center-block text-center"><span translate>Smoking onboard: </span>{{user.services.smoke}}</div>
        <div class="text-line center-block text-center"><span translate>Animal transport: </span>{{user.services.animal}}</div>
    </div>
</div>