<div class="help-block">Do you have ani preferences for users when ordering?</div>
<div class="checkbox">
    <label>
        <input type="checkbox" data-ng-model="user.card"> Payment with Card
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" data-ng-model="user.wifi"> Onboard Wifi
    </label>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" data-ng-model="user.air"> Air-condition
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" data-ng-model="user.child"> Child seat
    </label>
</div>