.fileinput .thumbnail {
    float: none;
    clear: both;
}

.upload-set {
    width: 50%;
}

.thumbnail > canvas,
.thumbnail a > canvas {
    margin-right: auto;
    margin-left: auto;
}

.thumbnail > canvas,
.thumbnail a > canvas {
    display: block;
    max-width: 100%;
    height: auto;
}