<div class="form-group" data-ng-show="licensingSettings.conces.license">
    <p class="help-block" translate>Do you have a concessionary license issued in your name?</p>
    <div class="btn-group" data-ng-model="user.conces.license" bs-radio-group data-ng-required="licensingSettings.conces.license">
        <label class="btn btn-default" ng-class="{'btn-success' : user.conces.license}"><input type="radio" value="true">Yes</label>
        <label class="btn btn-default" ng-class="{'btn-danger' : !user.conces.license}"><input type="radio" value="false"> No</label>
    </div>
</div>

<div class="form-group" data-ng-show="licensingSettings.conces.businessPhoto">
    <div id="businessPhoto" dr-file-upload="businessPhoto" data-ng-model="user.conces.businessPhoto" data-ng-required="licensingSettings.conces.businessPhoto">
        <label for="businessPhoto"><span translate>Taxi driver permit photo</span></label>
        <p class="help-block" translate>Please upload photo of your taxi driver permit photo.</p>
    </div>
</div>

<div class="form-group" data-ng-show="licensingSettings.conces.idLicense">
    <label for="idLicense" class="control-label" translate>Taxi ID on license</label>
    <span class="label label-danger" ng-show="regForm.idLicense.$invalid && !regForm.idLicense.$pristine" translate>Required</span>
    <span class="label label-danger" ng-show="regForm.idLicense.$error.minlength" translate>Too short.</span>
    <input id="idLicense"  type="text" name="idLicense" data-ng-model="user.conces.idLicense" class="form-control" data-ng-minlength="3" data-ng-required="licensingSettings.conces.idLicense" />
</div>

<div class="form-group" data-ng-show="licensingSettings.conces.licenseName && !user.conces.license">
    <label for="licenseName" class="control-label" translate>Name on license </label>
    <span class="label label-danger" ng-show="regForm.licenseName.$invalid && !regForm.licenseName.$pristine" translate>Required</span>
    <span class="label label-danger" ng-show="regForm.licenseName.$error.minlength" translate>Too short.</span>
    <input id="licenseName" type="text" name="licenseName" data-ng-model="user.conces.licenseName" class="form-control" data-ng-minlength="3" data-ng-required="!user.conces.license && licensingSettings.conces.licenseName" />
</div>

<div class="form-group" data-ng-show="licensingSettings.conces.contract && !user.conces.license">
    <div id="contract" dr-file-upload="contract" data-ng-model="user.conces.contract" data-ng-required="!user.conces.license && licensingSettings.conces.contract">
        <label for="contract"><span translate>Copy of contract</span></label>
        <p class="help-block" translate>Please upload copy of your contract.</p>
    </div>
</div>