<div class="clearfix">
    <div class="col-xs-12 col-md-4">
        <div class="text-line center-block text-center" data-ng-show="user.driver.licenseNumber && user.driver.expirationDate"><span translate>Driver license:</span> {{user.driver.licenseNumber}} ({{user.driver.expirationDate}})</div>
        <div class="text-line center-block text-center" data-ng-show="user.taxi.licenseNumber && user.taxi.expirationDate"><span translate>Taxi permit:</span> {{user.taxi.licenseNumber}} ({{user.taxi.expirationDate}})</div>

        <hr data-ng-show="user.conces.idLicense">
        <div class="text-line center-block text-center" data-ng-show="user.conces.idLicense"><span translate>Concessionary:</span> {{user.conces.idLicense}}</div>
        <div class="text-line center-block text-center" data-ng-show="user.conces.licenseName"><span translate>Name on concessionary:</span> {{user.conces.licenseName}}</div>

        <hr data-ng-show="user.conces.idLicense">
        <div class="text-line center-block text-center" data-ng-show="user.conces.idLicense"><span translate>Vehicle registration:</span> {{user.vehicle.registration}}</div>

    </div>
</div>
