<div class="form-group" data-ng-show="licensingSettings.vehicle.registration">
    <label for="registration" class="control-label" translate>License number </label>
    <span class="label label-danger" ng-show="regForm.registration.$invalid && !regForm.registration.$pristine" translate>Required</span>
    <span class="label label-danger" ng-show="regForm.registration.$error.minlength" translate>Too short.</span>
    <input id="registration"  type="text" name="registration" data-ng-model="user.vehicle.registration" class="form-control" data-ng-minlength="3" data-ng-required="licensingSettings.vehicle.registration" />
</div>

<div class="form-group" data-ng-show="licensingSettings.vehicle.registrationPhoto">
    <div id="registrationPhoto" dr-file-upload="registrationPhoto" data-ng-model="user.vehicle.registrationPhoto">
        <label for="registrationPhoto"><span translate>Statement of vehicle registration</span></label>
    </div>
</div>

<div class="form-group" data-ng-show="licensingSettings.vehicle.regSticker">
    <div id="regSticker" dr-file-upload="regSticker" data-ng-model="user.vehicle.regSticker">
        <label for="regSticker"><span translate>Sticker of vehicle registration</span></label>
    </div>
</div>

<div class="form-group" data-ng-show="licensingSettings.vehicle.sideEmblem">
    <div id="sideEmblem" dr-file-upload="sideEmblem" data-ng-model="user.vehicle.sideEmblem">
        <label for="sideEmblem"><span translate>Side and city emblem</span></label>
    </div>
</div>
