<!doctype html>
<html lang="en" ng-app="driverRegApp" locale="en_US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title translate>Driver Registration</title>
    <link rel="stylesheet" href="vendor.css">
    <link rel="stylesheet" href="app.css">
  </head>

  <body id="drAppCtrl" data-ng-controller="drAppCtrl">

    <div class="container">
      <div ng-include="'header.html'"></div>
      <div ng-include="'notifications.html'" class="container-fluid" data-ng-show="notifications.getCurrent().length"></div>
      <div class="row">
          <div data-ng-controller="queueCtrl" data-ng-file-drop>
              <div class="col-md-6 col-md-offset-3">
                  <h2 class="main-title" data-ng-show="showStepTitle()">{{state.current.title | translate}}</h2>
                  <div data-ng-controller="formValidationCtrl">
                      <form name="regForm" novalidate>
                          <div ui-view></div>
                          <div class="clearfix main-form-submit" data-ng-show="!state.current.data.isNeutral">

                              <button type="submit" data-ng-click="setNextStep()" data-ng-disabled="regForm.$invalid" data-ng-hide="isSummaryPage() || state.current.data.isNeutral || state.current.data.hideNext" class="btn btn-default btn-success pull-right btn-margin-left" translate>Next
                              </button>

                              <button type="submit" data-ng-click="setNextMainStep()" data-ng-show="isSummaryPage()" class="btn btn-default btn-danger pull-right btn-margin-left" translate>Next step
                              </button>

                              <button type="submit" data-ng-click="setSkipStep()" data-ng-show="state.current.skipAllow && !isSummaryPage()"class="btn btn-default btn-primary pull-right btn-margin-left" translate>Skip
                              </button>
                          </div>

                          <!-- DEBUGG MESSAGE-->
                          <div style="word-wrap:break-word; margin-top: 60px;">
                              <hr>
                              <div class="well">Valid form: {{regForm.$valid}}</div>
                              <div class="clearfix well">
                                  <a href='#' data-ng-click="deleteUserObject()" class="">Delete user object from session cache</a>
                              </div>
                              <div class="well">User: {{user}}</div>
                          </div>
                          <!-- END DEBUGG MESSAGE-->

                      </form>
                  </div>

              </div>
              <div data-ng-include="'components/queue/queue.html'"></div>
          </div>

      </div>
    </div>

    <script src="jquery.js"></script>
    <script src="angular.js"></script>
    <script src="js/angular-locale_en-us.js"></script>
    <script src="vendor.js"></script>
    <script src="templates-app.js"></script>
    <script src="app.js"></script>
    <script src="translations.js"></script>
  </body>
</html>
