<div data-ng-controller="queueCtrl" data-ng-file-drop>

    <div class="col-md-6 col-md-offset-3" data-ng-controller="vehicleCtrl">

        <div data-ng-controller="formValidationCtrl">
            <h2>{{stepTitle}}</h2>
            <form name="regForm" novalidate>
                <div ui-view></div>
                <div class="clearfix form-submit">
                  <a ui-sref="services.pickup" data-ng-show="isSummaryPage()" class="btn btn-default btn-success pull-right">Next Step ></a>
                    <button type="submit" data-ng-click="goNext()" data-ng-disabled="regForm.$invalid" data-ng-hide="isSummaryPage()" class="btn btn-default btn-success pull-right">Next</button>
                    <button type="submit" data-ng-click="goSkip()" data-ng-show="skipAllow" class="btn btn-default btn-primary pull-right margin btn-margin-right">Skip</button>
                </div>
            </form>

          <!-- DEBUGG MESSAGE--
          <div style="word-wrap:break-word;">
            <div class="clearfix" style="margin-top: 200px;"></div>
            <div class="well">Form: {{regForm}}</div>
            <div class="well">State skip: {{stepTitle}}</div>
            <div class="well">User: {{user}}</div>
          </div>
          <!-- END DEBUGG MESSAGE-->
        </div>


    </div>

    <div data-ng-include="'components/queue/queue.html'"></div>



</div>
