<div class="help-block">Your almost done with the Vehicle section, here's what we have so far.</div>

<div class="clearfix">
    <div class="thumbnail col-xs-12 col-md-4">
    </div>
    <div class="col-xs-12 col-md-8">

    </div>
</div>

<div class="clearfix">
    <div class="col-xs-12 col-md-4">
        <div class="text-line center-block text-center">{{user.firstName}} {{user.lastName}}</div>
        <div class="text-line center-block text-center">{{user.phone}}</div>
        <div class="text-line center-block text-center">{{user.gender}}</div>
    </div>
    <div class="col-xs-12 col-md-8">

    </div>
</div>