<div class="help-block">What color is your car?</div>

<div class="form-group car-color">
  <label>Color</label>
  <div bs-checkbox-group ng-model="user.car.color">
    <label class="btn btn-default color black"><input name="color" type="radio" class="btn btn-default" value="black"><span ng-show="regForm.color == 'black'" class="glyphicon glyphicon-ok"></span><span class="sr-only">Black</span></label>
    <label class="btn btn-default color blue"><input name="color" type="radio" class="btn btn-default" value="blue"><span class="sr-only">Blue</span></label>
    <label class="btn btn-default color brown"><input name="color" type="radio" class="btn btn-default" value="brown"><span class="sr-only">Black</span></label>
    <label class="btn btn-default color green"><input name="color" type="radio" class="btn btn-default" value="green"><span class="sr-only">Black</span></label>
    <label class="btn btn-default color orange"><input name="color" type="radio" class="btn btn-default" value="orange"><span class="sr-only">Black</span></label>
    <label class="btn btn-default color purple"><input name="color" type="radio" class="btn btn-default" value="purple"><span class="sr-only">Black</span></label>
    <label class="btn btn-default color red"><input name="color" type="radio" class="btn btn-default" value="red"><span class="sr-only">Black</span></label>
    <label class="btn btn-default color silver"><input name="color" type="radio" class="btn btn-default" value="silver"><span class="sr-only">Black</span></label>
    <label class="btn btn-default color white"><input name="color" type="radio" class="btn btn-default" value="white"><span class="sr-only">Black</span></label>
    <label class="btn btn-default color yellow"><input name="color" type="radio" class="btn btn-default" value="yellow"><span class="sr-only">Black</span></label>

  </div>

</div>