<div class="col-md-6 col-md-offset-3 view" data-ng-controller="formAboutCtrl">
    <div data-ng-repeat="(key, formItem) in formItems" class="clearfix" data-ng-show="getCurrentStep() == key">
        <h2>{{formItem.name}} {{getCurrentStep() + 1}}/{{getMaxStep() + 1}}</h2>
    </div>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{width: getCurrentProgress()}">
        </div>
    </div>

    <div data-ng-controller="formValidationCtrl">

        <form name="regForm" data-ng-submit="submitForm()" novalidate>
            <div data-ng-repeat="(key, formItem) in formItems">
                <div data-ng-show="getCurrentStep() == key" data-ng-animate="'fade'">
                    <div class="clearfix">
                        <div data-ng-include="formItem.tpl"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix form-submit">
                <button type="submit" data-ng-click="setNextStep()" class="btn btn-default btn-primary pull-right" data-ng-show="getCurrentStep() < getMaxStep()">Next</button>
            </div>
        </form>
    </div>
</div>