<div class="dr-file-upload">

  <div ng-transclude class="content"></div>

  <input ng-file-select="{ fieldName: uploaderName }" type="file" name="{{uploaderName}}" id="{{uploaderName}}" ng-model="theModel" class="btn btn-default hidden" ng-required="isFileRequired()" />

  <div class="file-upload-preview" data-ng-show="showPreview">
    <div class="thumbnail" data-ng-show="showPreview"><img ng-src="{{previewSrc}}" alt="photo" /></div>
  </div>

  <div ng-show="invalidFile" class="text-danger" translate>The selected file cannot be uploaded. Only JPEG, PNG or GIF image files are allowed.</div>
  <div ng-show="uploaderItem && uploaderItem.isError" class="text-danger" translate>There was an error while uploading the file.</div>

  <div class="file-name" ng-show="fileName"><span class="glyphicon glyphicon-file"></span> {{fileName}} <span class="label label-default" ng-show="uploaderItem && (uploaderItem.isReady || uploaderItem.isUploading || uploaderItem.isUploaded)" ng-class="{'label-success': uploaderItem && uploaderItem.isUploaded}">{{uploaderItem.progress}}%</span>
  </div>

  <div class="buttons">
    <button ng-hide="uploaderItem || theModel.uuid"  class="btn btn-primary" ng-click="openFileSelect()" translate>Select file</button>

    <button type="button" class="btn btn-danger" ng-click="cancelUploaderItem()" ng-hide="!uploaderItem || uploaderItem.isUploaded">
      <span class="glyphicon glyphicon-remove"></span> <span translate>Cancel</span>
    </button>

    <button ng-show="fileName" class="btn btn-primary" ng-click="openFileSelectOther()" translate>Select other file</button>
  </div>

</div>